/* Base CSS Styles for Jade Tree Components */
/* Theming Variables */
:root {
  --_jt-control-arrow-size: var(--jt-control-arrow-size, 1.2em);
  --_jt-control-border-color: var(--jt-control-border-color, #999);
  --_jt-control-border-radius: var(--jt-control-border-radius, 3px);
  --_jt-control-border-hover-color: var(--jt-control-border-hover-color, #555);
  --_jt-control-border-focus-color: var(--jt-control-border-focus-color, var(--jt-accent-color, #08e));
  --_jt-control-background: var(--jt-control-background, #fff);
  --_jt-control-color: var(--jt-control-color, #000);
  --_jt-control-disabled-background: var(--jt-control-disabled-background, var(--_jt-control-background));
  --_jt-control-disabled-color: var(--jt-control-disabled-color, #aaa);
  --_jt-control-hover-background: var(--jt-control-selection-background, var(--jt-accent-color, #08e));
  --_jt-control-hover-color: var(--jt-control-selection-color, var(--_jt-control-background));
  --_jt-control-selection-background: var(--jt-control-selection-background, var(--jt-accent-color, #08e));
  --_jt-control-selection-color: var(--jt-control-selection-color, var(--_jt-control-background));
  --_jt-focus-color: var(--jt-focus-color, #eee);
  --_jt-focus-background: var(--jt-focus-background, #08f);
  --_jt-focus-ring-color: var(--jt-focus-ring-color, #888);
  --_jt-focus-ring-style: var(--jt-focus-ring-style, dotted);
  --_jt-focus-ring-width: var(--jt-focus-ring-style, 1px);
  --_jt-focus-ring-offset: var(--jt-focus-ring-offset, -2px);
}

/* Synthetic Control with Control Buttons */
/* Arrow Button that points down or up if aria-expanded is true */
/* Back (Left-Arrow) Button */
/* Clear Button */
.jt-listbox {
  /* Listbox Layout Variables */
  --_jt-listbox-padding: var(--jt-listbox-padding, 0.2em);
  --_jt-listbox-start-padding: var(--jt-listbox-start-padding, 0.2em);
  --_jt-listbox-group-indent: var(--jt-listbox-group-indent, 1em);
  --_jt-listbox-separator-margin: var(--jt-listbox-separator-margin, 0em);
  --_jt-listbox-max-height: var(--jt-listbox-max-height, 8em);
  /* Listbox Layout */
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-block-size: var(--_jt-listbox-max-height);
  overflow-y: auto;
  overflow-block: auto;
  /* Listbox Theming */
  background-color: var(--_jt-control-background);
}
.jt-listbox ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.jt-listbox .jt-listbox__item {
  position: relative;
  display: block;
  padding: var(--_jt-listbox-padding);
  -webkit-padding-start: var(--_jt-listbox-start-padding);
          padding-inline-start: var(--_jt-listbox-start-padding);
  cursor: default;
}
.jt-listbox .jt-listbox__item[aria-hidden=true], .jt-listbox .jt-listbox__item[hidden] {
  display: none;
}
.jt-listbox .jt-listbox__item[aria-checked=true] {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.jt-listbox__item[aria-disabled=true] {
  background-color: var(--_jt-control-disabled-background);
  color: var(--_jt-control-disabled-color);
}
.jt-listbox__item[role=separator] {
  height: 0;
  padding: 0;
  margin-block: var(--_jt-listbox-separator-margin);
  -webkit-border-after: 1px solid var(--_jt-control-disabled-color);
          border-block-end: 1px solid var(--_jt-control-disabled-color);
  overflow-y: hidden;
}
.jt-listbox__item.jt-hover {
  background-color: var(--_jt-control-hover-background);
  color: var(--_jt-control-hover-color);
}
.jt-listbox__item.jt-focused {
  outline: var(--_jt-focus-ring-color) var(--_jt-focus-ring-style) var(--_jt-focus-ring-width);
  outline-offset: var(--_jt-focus-ring-offset);
}
.jt-focus .jt-listbox__item.jt-focused {
  outline: var(--_jt-focus-ring-color) var(--_jt-focus-ring-style) var(--_jt-focus-ring-width);
  outline-offset: var(--_jt-focus-ring-offset);
  background-color: var(--_jt-focus-background);
  color: var(--_jt-focus-color);
}
.jt-listbox__item[aria-selected=true] {
  background-color: var(--_jt-control-selection-background);
  color: var(--_jt-control-selection-color);
}

.jt-listbox__group .jt-listbox__item:not(.jt-listbox__item--header) {
  -webkit-padding-start: calc(var(--_jt-listbox-start-padding) + var(--_jt-listbox-group-indent));
          padding-inline-start: calc(var(--_jt-listbox-start-padding) + var(--_jt-listbox-group-indent));
}
.jt-listbox__group .jt-listbox__item--header {
  font-weight: bold;
}

jt-autocomplete {
  position: relative;
  display: inline-block;
  color: var(--_jt-control-color);
  background-color: var(--_jt-control-background);
  /* 
      Chrome still shows the drop-down arrow after 
      removal of "list" attribute. Bad Google.
  */
}
jt-autocomplete .jt-control {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--_jt-control-border-color);
  border-radius: var(--_jt-control-border-radius);
}
jt-autocomplete .jt-control input, :where(jt-autocomplete .jt-control [data-role=control]) {
  flex: 1 0 auto;
  border: none;
  outline: none;
  font-size: inherit;
  background-color: transparent;
  border-start-start-radius: var(--_jt-control-border-radius);
  border-end-start-radius: var(--_jt-control-border-radius);
}
jt-autocomplete .jt-control__buttons {
  position: absolute;
  inset-block: 0;
  inset-inline-end: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2em;
  -webkit-padding-end: 0.2em;
          padding-inline-end: 0.2em;
}
jt-autocomplete .jt-control:hover {
  border: 1px solid var(--_jt-control-border-hover-color);
}
jt-autocomplete .jt-control.jt-focus {
  border-color: transparent;
  outline: 2px solid var(--_jt-control-border-focus-color);
  outline-offset: -1px;
}
jt-autocomplete input::-webkit-calendar-picker-indicator {
  display: none;
  opacity: 0;
}
jt-autocomplete button[data-action=close] {
  font-size: inherit;
  width: var(--_jt-control-arrow-size);
  height: var(--_jt-control-arrow-size);
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--_jt-control-color);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' stroke='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z' clip-rule='evenodd' /%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' stroke='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z' clip-rule='evenodd' /%3E%3C/svg%3E");
  display: none;
}
jt-autocomplete button[data-action=close]:dir(rtl) {
  transform: rotate(180deg);
}
jt-autocomplete button[data-action=open] {
  font-size: inherit;
  width: var(--_jt-control-arrow-size);
  height: var(--_jt-control-arrow-size);
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--_jt-control-color);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' stroke='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd' /%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' stroke='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd' /%3E%3C/svg%3E");
}
jt-autocomplete button[data-action=open][aria-expanded=true] {
  transform: rotate(180deg);
}
jt-autocomplete button[data-action=clear] {
  display: none;
  font-size: inherit;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--_jt-control-color);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='currentColor' viewBox='0 0 20 20' class='w-5 h-5'%3E%3Cpath d='M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z' /%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='currentColor' viewBox='0 0 20 20' class='w-5 h-5'%3E%3Cpath d='M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z' /%3E%3C/svg%3E");
}
jt-autocomplete[clearable] button[data-action=clear] {
  display: block;
}
jt-autocomplete.jt-placeholder-shown button[data-action=clear] {
  display: none;
}
jt-autocomplete .jt-popup {
  visibility: hidden;
  position: absolute;
  inset: auto 0;
  border: 1px solid var(--_jt-control-border-color);
  border-end-start-radius: var(--_jt-control-border-radius);
  border-end-end-radius: var(--_jt-control-border-radius);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
jt-autocomplete .jt-popup:last-child {
  border-end-start-radius: var(--_jt-control-border-radius);
  border-end-end-radius: var(--_jt-control-border-radius);
}
jt-autocomplete.jt-open .jt-popup {
  visibility: visible;
}
jt-autocomplete.jt-open .jt-control {
  -webkit-border-after: none;
          border-block-end: none;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}
@media not (pointer: fine), (max-width: 640px) {
  jt-autocomplete.jt-open {
    position: fixed;
    inset: 0;
    display: block;
  }
  jt-autocomplete.jt-open button[data-action=close] {
    display: block;
    margin-inline: 0.25rem;
  }
  jt-autocomplete.jt-open button[data-action=open] {
    display: none;
  }
  jt-autocomplete.jt-open .jt-control,
  jt-autocomplete.jt-open .jt-control:focus-within,
  jt-autocomplete.jt-open .jt-control:hover {
    border: none;
    border-bottom: 1px solid var(--_jt-control-border-color);
    border-radius: 0;
    outline: none;
    padding-block: 0.2em;
    -webkit-margin-before: 0.2em;
            margin-block-start: 0.2em;
  }
  jt-autocomplete.jt-open .jt-popup {
    border: none;
    box-shadow: none;
  }
  jt-autocomplete.jt-open .jt-popup .jt-listbox {
    max-block-size: 100%;
  }
  jt-autocomplete.jt-open .jt-listbox__item[role=option],
  jt-autocomplete.jt-open .jt-listbox__item[role=presentation] {
    padding: 0.4em;
  }
}
jt-autocomplete .jt-listbox__item mark {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
}