@use 'util/base.scss';
@use 'util/mixins.scss';

@use 'listbox.scss';

jt-autocomplete {
    --_jt-listbox-max-height: var(--jt-listbox-max-height, 8em);

    position: relative;
    display: inline-block;
    color: var(--_jt-control-color);
    background-color: var(--_jt-control-background);

    @include mixins.jt-control;

    /* Hide the DataList Arrow on Chrome and Safari */
    input::-webkit-calendar-picker-indicator,
    input::-webkit-list-button {
        display: none;
        opacity: 0;
    }

    button[data-action="close"] {
        @include mixins.back-button;
        display: none;
    }

    button[data-action="open"] {
        @include mixins.arrow-button;
    }

    button[data-action="clear"] {
        display: none;
        @include mixins.clear-button;
    }

    &[clearable] button[data-action="clear"] {
        display: block;
    }

    &.jt-placeholder-shown button[data-action="clear"] {
        display: none;
    }

    .jt-popup {
        visibility: hidden;
        position: absolute;
        inset: auto 0;
        border: 1px solid var(--_jt-control-border-color);
        border-block-start: none;
        border-end-start-radius: var(--_jt-control-border-radius);
        border-end-end-radius: var(--_jt-control-border-radius);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 20%);
        max-block-size: var(--_jt-listbox-max-height);
        overflow-y: scroll;
        overflow-block: scroll;

        &:last-child {
            border-end-start-radius: var(--_jt-control-border-radius);
            border-end-end-radius: var(--_jt-control-border-radius);
        }
    }

    &.jt-open .jt-popup {
        visibility: visible;
    }

    @media not (pointer: fine), (max-width: 640px) {
        &.jt-open {
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;

            button[data-action="close"] {
                display: block;
                margin-inline: 0.25rem;
            }

            button[data-action="open"] {
                display: none;
            }

            .jt-control,
            .jt-control:focus-within,
            .jt-control:hover {
                flex: none;
                border: none;
                border-bottom: 1px solid var(--_jt-control-border-color);
                border-radius: 0;
                outline: none;
                padding-block: 0.2em;
                margin-block-start: 0.2em;
            }

            .jt-popup {
                flex: 1;
                border: none;
                box-shadow: none;
                position: relative;
                max-block-size: unset;
                background-color: var(--_jt-control-background);
            }
        }
    }

    .jt-listbox__item mark {
        background-color: inherit;
        color: inherit;
        font-weight: bold;
    }
}
