@use 'util/base.scss';
@use 'util/mixins.scss';

.jt-listbox {
    /* Listbox Layout Variables */
    --_jt-listbox-padding: var(--jt-listbox-padding, 0.2em);
    --_jt-listbox-start-padding: var(--jt-listbox-start-padding, 0.2em);
    --_jt-listbox-group-indent: var(--jt-listbox-group-indent, 1em);
    --_jt-listbox-separator-margin: var(--jt-listbox-separator-margin, 0em);
    --_jt-listbox-max-height: var(--jt-listbox-max-height, 8em);

    /* Listbox Layout */
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-block-size: var(--_jt-listbox-max-height);
    overflow-y: auto;
    overflow-block: auto;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .jt-listbox__item {
        position: relative;
        display: block;
        padding: var(--_jt-listbox-padding);
        padding-inline-start: var(--_jt-listbox-start-padding);
        cursor: default;

        &[aria-hidden="true"],
        &[hidden] {
            display: none;
        }

        &[aria-checked="true"] {
            clip: rect(0 0 0 0); 
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap; 
            width: 1px;
        }
    }

    /* Listbox Theming */
    background-color: var(--_jt-control-background);
}

.jt-listbox__item {
    &[aria-disabled="true"] {
        background-color: var(--_jt-control-disabled-background);
        color: var(--_jt-control-disabled-color);
    }

    &[role="separator"] {
        height: 0;
        padding: 0;
        margin-block: var(--_jt-listbox-separator-margin);
        border-block-end: 1px solid var(--_jt-control-disabled-color);
        overflow-y: hidden;
    }

    &.jt-hover {
        background-color: var(--_jt-control-hover-background);
        color: var(--_jt-control-hover-color);
    }

    &.jt-focused {
        outline: var(--_jt-focus-ring-color) var(--_jt-focus-ring-style) var(--_jt-focus-ring-width);
        outline-offset: var(--_jt-focus-ring-offset);
    }

    .jt-focus &.jt-focused {
        outline: var(--_jt-focus-ring-color) var(--_jt-focus-ring-style) var(--_jt-focus-ring-width);
        outline-offset: var(--_jt-focus-ring-offset);
        background-color: var(--_jt-focus-background);
        color: var(--_jt-focus-color);
    }

    &[aria-selected="true"] {
        background-color: var(--_jt-control-selection-background);
        color: var(--_jt-control-selection-color);
    }
}

.jt-listbox__group {
    .jt-listbox__item:not(.jt-listbox__item--header) {
        padding-inline-start: calc(var(--_jt-listbox-start-padding) + var(--_jt-listbox-group-indent));
    }

    .jt-listbox__item--header {
        font-weight: bold;
    }
}