@use 'util/base.scss';
@use 'util/mixins.scss';

@use 'listbox.scss';

jt-select {
    position: relative;
    display: inline-block;
    color: var(--_jt-control-color);
    background-color: var(--_jt-control-background);

    @include mixins.jt-control;

    :is(& [data-role="control"]) {
        position: relative;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        padding-block: 1px;
        padding-inline-start: 2px;
        padding-inline-end: calc(var(--_jt-control-arrow-size));
        flex-grow: 1;
        min-height: 1.2em;
        max-width: 100%;
        font-family: inherit;
        font-size: inherit;
        overflow: hidden;

        :is(jt-select[clearable] &) {
            padding-inline-end: calc(2.1 * var(--_jt-control-arrow-size));
        }

        &::after {
            position: absolute;
            inset-block-start: calc(50% - var(--_jt-control-arrow-size) / 2);
            inset-inline-end: 0;
            content: '';
            width: 0;
            height: 0;

            @include mixins.arrow-button;
        }

        &[aria-expanded="true"]::after {
            transform: rotate(180deg);
        }

        &[aria-disabled="true"]::after {
            background-color: var(--_jt-control-disabled-color);
        }
    }

    &[clearable] .jt-control__buttons {
        inset-inline-end: calc(var(--_jt-control-arrow-size));
    }

    button[data-action="clear"] {
        display: none;
        @include mixins.clear-button;
    }

    &[clearable] button[data-action="clear"] {
        display: block;
    }

    &.jt-placeholder-shown button[data-action="clear"],
    &[readonly] button[data-action="clear"] {
        display: none;
    }

    .jt-popup {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        inset: auto 0;
        border: 1px solid var(--_jt-control-border-color);
        border-end-start-radius: var(--_jt-control-border-radius);
        border-end-end-radius: var(--_jt-control-border-radius);
        background-color: var(--_jt-control-background);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 20%);

        &:last-child {
            border-end-start-radius: var(--_jt-control-border-radius);
            border-end-end-radius: var(--_jt-control-border-radius);
        }

        .jt-listbox {
            max-block-size: var(--_jt-listbox-max-height);
            overflow-y: auto;
            overflow-block: auto;
            background-color: var(--_jt-control-background);

            --_jt-listbox-start-padding: var(--jt-listbox-start-padding, 1.4em);

            [aria-selected="true"]::before {
                position: absolute;
                inset-block-start: 0.3em;
                inset-inline-start: 0.25em;
                width: 1em;
                height: 1em;
                background-color: currentColor;
                content: '';
                        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' stroke='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z' clip-rule='evenodd' /%3E%3C/svg%3E");
                -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' stroke='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z' clip-rule='evenodd' /%3E%3C/svg%3E");
            }
        }
    }

    .jt-select__search {
        flex-direction: row;
        align-items: center;
        justify-content: start;

        [data-action="close"] {
            display: none;
            @include mixins.back-button;
        }

        input {
            flex: 1 1 auto;
            min-width: 0;
            outline: none;
            border: none;

            :focus {
                outline: none;
            }
        }
    }

    .jt-popup .jt-select__search {
        display: none;
        padding-block: 0.2rem;
        padding-inline: 0.2rem;
        border-bottom: 1px solid var(--_jt-control-border-color);
    }

    &[searchable] .jt-popup .jt-select__search {
        display: flex;
    }

    &.jt-open .jt-popup {
        visibility: visible;
    }

    &.jt-open .jt-control {
        border-block-end: none;
        border-end-start-radius: 0;
        border-end-end-radius: 0;
    }

    @media not (pointer: fine), (max-width: 640px) {
        .jt-popup {
            background-color: #00000033;
            padding: 1.5em;
            border: none;

            button[data-action="close"] {
                display: block;
                margin-inline: 0.25rem;
            }

            .jt-listbox {
                --jt-listbox-start-padding: 1.4em;

                max-block-size: 100%;
                background-color: var(--_jt-control-background);
                border-radius: 0.5em;
            }

            .jt-listbox__item[role=option],
            .jt-listbox__item[role=presentation] {
                padding: calc(var(--_jt-listbox-padding) + 0.2em);
                padding-inline-start: var(--_jt-listbox-start-padding);
            }
        }

        &[searchable] .jt-popup {
            background-color: var(--_jt-control-background);
            padding: 0;

            .jt-listbox {
                padding: 0;
                border-radius: 0;
            }
        }

        &.jt-open .jt-popup {
            position: fixed;
            inset: 0;
        }

        .jt-select__search {
            padding-block: 0.5rem;
            border-bottom: 1px solid var(--_jt-control-border)
        }
    }

    .jt-listbox__item mark {
        background-color: inherit;
        color: inherit;
        font-weight: bold;
    }
}
